.root-layout-logout {
  display: flex;
  align-items: center;
  height: 100%;
}

.root-layout-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing-md);
  padding-left: var(--spacing-md);
}
